<h1>Sign in</h1>
<%= form_tag users_sign_in_path do %>
<label for="email">Your Email</label>
<input type="text" name="email" id="email"><br/>
<label for="password">Password</label>
<input type="password" name="password" id="password"><br/>
<input type="submit">
<% end %>